<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                
            </ul>
    </div>
    <div class="content">
        <h1>About us</h1>
        <p>Innovix is a startup company built by three ambitious minds working hard to tackle the ongoing problem of
           people getting scammed by ai generated texts and documents .<br>
           We at Innovix have built an app to tackle this exact problem . Docure is the future of saving humanity from AI.
        </p>